/* Font */
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

/* Design */
:root {
  --primary: #2a265f;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: "Quicksand", serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

.main h1 {
  /* font-weight: bold; */
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 30px 60px -14px rgba(0, 0, 0, 0.25);
  background-color: rgba(42, 38, 95, .65);
  transition: .4s;
  /* border: 1px solid var(--primary); */
}

.card_content {
  padding: 1rem;
  /* background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%); */
  /* background-color: #ffffff; */
  /* color: black; */
  background-color: var(--primary);
}

.card_image img {
  width: 20rem;
  height: 20rem;
  padding: 2rem 2rem;
}

.card_title {
  color: #ffffff;
  /* color: #272727; */
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  text-transform: capitalize;
  margin: 0px;
}

.container {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}
